*{
  padding: 5px;
}

.wrapper{
  display: grid;
  grid-template-columns: 5fr 5fr;
  grid-column-gap: 10px;
  grid-auto-rows: minmax(auto, auto)
}

.wrapper > div{
  background-color: #eee;
  padding:1rem;
}

.wrapper > div:nth-child(even){
  background-color: #ddd;
  padding: 0;
  overflow:hidden;
}
