@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  position: relative;
  background-color: #f5f5f5;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.button {
  font-family: "Open Sans";
  font-size: 16px;
  border: none;
  color: #ffffff;
  font-weight: 600;
  outline: none;
  background-color: #0273d4;
  padding: 10px 22px;
  border-radius: 3px;
  transition: all 0.2s ease;
}
.button:hover {
  cursor: pointer;
  background-color: #0268c0;
}

.notification-button {
  height: 56px;
  box-sizing: border-box;
  padding: 0 12px;
  font-size: 20px;
  line-height: 56px;
  position: relative;
}
.notification-button .badge {
  position: absolute;
  top: 14px;
  right: 8px;
  width: 10px;
  height: 10px;
  background-color: #f44336;
  border-radius: 100%;
  box-shadow: 0 0 0 2px #fff;
}
.notification-button i {
  color: #757575;
}

.wrapper {
  display: grid;
  height: 100vh;
  grid-template-columns: 300px 1fr 1fr;
  grid-template-rows: 56px 1fr;
  grid-template-areas: "header header header" "sidemenu content content";
}

.header {
  grid-area: header;
  box-sizing: border-box;
  background-color: #ffffff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.06), 0 3px 6px rgba(0, 0, 0, 0.16);
  z-index: 1;
}
.header .container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 300px 1fr 215px;
  grid-template-rows: 56px;
  grid-template-areas: "logo search user";
}
.header .container .logo {
  grid-area: logo;
}
.header .container .logo a {
  max-width: 300px;
  max-height: 56px;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  display: block;
  height: 100%;
}
.header .container .logo a img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 4px 0;
  box-sizing: border-box;
}
.header .container .logo .responsive {
  display: none;
}
.header .container .logo .responsive .notification-button:hover {
  cursor: pointer;
}
.header .container .search {
  grid-area: search;
  padding-left: 50px;
  padding-right: 50px;
}
.header .container .search .search-container {
  max-width: 430px;
  position: relative;
  margin: auto;
  margin-top: 10px;
}
.header .container .search .search-container > input {
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  padding: 8px 12px;
  padding-right: 74px;
  border-radius: 3px;
  border: none;
  background-color: #f5f5f5;
  outline: none;
  box-sizing: border-box;
}
.header .container .search .search-container > input::placeholder {
  color: #706e69;
}
.header .container .search .search-container > .fa-caret-down {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 56px;
  color: #706e69;
}
.header .container .search .search-container > button {
  position: absolute;
  top: 0;
  right: 0;
  width: 42px;
  height: 100%;
  border-radius: 0 3px 3px 0;
  border: none;
  background-color: #bdbdbd;
}
.header .container .search .search-container > button i {
  font-size: 18px;
  color: #ffffff;
}
.header .container .user {
  grid-area: user;
  text-align: right;
  padding-right: 50px;
}
.header .container .user .notification {
  display: inline-block;
  vertical-align: middle;
}
.header .container .user .notification .container {
  display: table;
  width: 100%;
  height: 100%;
}
.header .container .user .notification .container > div {
  display: table-cell;
  vertical-align: middle;
}
.header .container .user .notification .container > div.search-glass {
  display: none;
}
@media only screen and (max-width: 640px) {
  .header .container .user .notification .container > div.search-glass {
    display: table-cell;
  }
}
.header .container .user .user-popdown-area {
  display: inline-block;
  vertical-align: middle;
  padding-left: 20px;
}
.header .container .user .user-popdown-area .user-button {
  display: inline-block;
  vertical-align: middle;
  width: 34px;
  height: 34px;
  overflow: hidden;
  border-radius: 100%;
  background: black;
}
.header .container .user .user-popdown-area .user-button > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header .container .user .user-popdown-area i {
  color: #757575;
  display: inline-block;
  vertical-align: middle;
  margin-left: 4px;
}

.sidemenu {
  grid-area: sidemenu;
  background-color: #37474f;
}
.sidemenu ul {
  padding-top: 26px;
}
.sidemenu ul li {
  color: #bdbdbd;
  font-size: 17px;
  background-color: #37474f;
  transition: all 0.2s ease;
}
.sidemenu ul li.selected {
  background-color: #2d3940;
}
.sidemenu ul li.selected a {
  color: #ffffff;
}
.sidemenu ul li.selected a i:first-child {
  color: #42a5f5;
}
.sidemenu ul li:hover {
  background-color: #2d3940;
}
.sidemenu ul li:hover a {
  color: #ffffff;
}
.sidemenu ul li a {
  display: block;
  text-decoration: none;
  color: #bdbdbd;
  box-sizing: border-box;
  padding: 16px 24px;
  transition: all 0.2s ease;
  display: table;
}
.sidemenu ul li a > * {
  display: table-cell;
  vertical-align: top;
}
.sidemenu ul li a i {
  font-size: 18px;
  width: 20px;
  text-align: center;
}
.sidemenu ul li a i:first-child {
  padding-top: 3px;
}
.sidemenu ul li a span {
  padding: 0 20px;
  width: 100%;
}

.content {
  grid-area: content;
  background-color: #f5f5f5;
  display: grid;
  grid-template-columns: 65.5% 1fr;
  grid-template-rows: auto auto 1fr;
  grid-template-areas: "banner banner" "filterbar filterbar" "main sidebar";
  max-width: 1000px;
  margin: auto;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 26px;
  padding-bottom: 180px;
}
.content > .sidebar {
  margin-left: 24px;
}

.banner {
  grid-area: banner;
}
.banner .banner-image {
  display: block;
  width: 100%;
  height: 168px;
  background-image: url(https://www.thepikecompany.com/wp-content/uploads/2015/09/slide1-70.jpg);
  background-position: center center;
  background-size: cover;
  border-radius: 3px;
}

.filterbar {
  grid-area: filterbar;
  padding-top: 28px;
  padding-bottom: 24px;
}
.filterbar > .two-cols {
  display: table;
  width: 100%;
}
.filterbar > .two-cols > div {
  display: table-cell;
  width: 50%;
  vertical-align: middle;
}
.filterbar > .two-cols .breadcrumbs {
  font-size: 15px;
}
.filterbar > .two-cols .breadcrumbs ul li {
  display: inline-block;
}
.filterbar > .two-cols .breadcrumbs ul li + li:before {
  content: "/";
  padding: 0 8px;
  color: #616161;
}
.filterbar > .two-cols .breadcrumbs ul li + li:last-child a {
  color: #616161;
  text-decoration: none !important;
  pointer-events: none;
}
.filterbar > .two-cols .breadcrumbs ul li a {
  color: #0275d8;
  text-decoration: none;
}
.filterbar > .two-cols .breadcrumbs ul li a:hover {
  color: #014c8c;
  text-decoration: underline;
}
.filterbar > .two-cols .filter {
  text-align: right;
}
.filterbar > .two-cols .filter > .filter-button {
  max-width: 150px;
  box-sizing: border-box;
  padding: 6px 8px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  background-color: #eeeeee;
  border: 1px solid #e0e0e0;
  color: #616161;
  border-radius: 3px;
}
.filterbar > .two-cols .filter > .filter-button + .filter-button {
  margin-left: 12px;
}
.filterbar > .two-cols .filter > .filter-button:hover {
  cursor: pointer;
  background-color: #e9e9e9;
}
.filterbar > .two-cols .filter > .filter-button > i {
  margin-left: 24px;
}

.main {
  grid-area: main;
}

.sidebar {
  grid-area: sidebar;
}
.sidebar .layoutBox {
  padding-bottom: 0;
}
.sidebar .layoutBox .see-all {
  font-weight: 600;
  color: #9e9e9e;
  text-align: center;
  padding: 10px 0;
}
.sidebar .layoutBox .see-all i {
  font-size: 18px;
  margin-left: 4px;
}

.layoutBox {
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  box-shadow: 0 1px 1px 1px rgba(127, 127, 127, 0.3);
}
.layoutBox + .layoutBox {
  margin-top: 24px;
}
.layoutBox-headline {
  font-size: 20px;
  color: #212121;
  padding-bottom: 12px;
}
.layoutBox-infobar {
  display: table;
  width: 100%;
  padding-bottom: 16px;
}
.layoutBox-infobar > div {
  display: table-cell;
  vertical-align: middle;
}
.layoutBox-infobar .col-left > .user-image {
  width: 24px;
  height: 24px;
  margin-right: 2px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 100%;
  overflow: hidden;
  background-image: url(https://media.creativemornings.com/uploads/user/avatar/49419/Bechtel_Profile_Square.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}
.layoutBox-infobar .col-left > ul {
  font-size: 12px;
  display: inline-block;
  vertical-align: middle;
}
.layoutBox-infobar .col-left > ul li {
  display: inline-block;
}
.layoutBox-infobar .col-left > ul li + li:before {
  font-family: FontAwesome;
  content: "\f0da";
  padding: 0 8px;
  color: #0273d4;
}
.layoutBox-infobar .col-left > ul li a {
  text-decoration: none;
}
.layoutBox-infobar .col-left > ul li a.username {
  color: #212121;
  font-weight: 600;
}
.layoutBox-infobar .col-left > ul li a.group {
  color: #0273d4;
}
.layoutBox-infobar .col-right {
  text-align: right;
}
.layoutBox-infobar .col-right .timestamp {
  font-size: 12px;
  color: #74736d;
  margin-top: 1px;
}
.layoutBox-content .article-image,
.layoutBox-content .event-image {
  margin-left: -20px;
  margin-right: -20px;
}
.layoutBox-content .article-image img,
.layoutBox-content .event-image img {
  width: 100%;
}
.layoutBox-content .content-video {
  position: relative;
  margin-left: -20px;
  margin-right: -20px;
  padding-bottom: 56.25%;
  margin-bottonm: 4px;
}
.layoutBox-content .content-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.layoutBox-content .content-document {
  margin-top: 48px;
  margin-bottom: 34px;
  text-align: center;
}
.layoutBox-content .content-document > i {
  font-size: 88px;
  color: #74736d;
  margin-bottom: 12px;
}
.layoutBox-content .content-document > ul {
  color: #1e1e20;
  font-size: 14px;
}
.layoutBox-content .content-document > ul li {
  display: inline-block;
}
.layoutBox-content .content-document > ul li + li:before {
  content: "\f111";
  font-family: FontAwesome;
  font-size: 4px;
  vertical-align: middle;
  padding: 0 6px;
}
.layoutBox-content .content-document > .button {
  margin-top: 20px;
}
.layoutBox-content .truncate {
  font-size: 16px;
  line-height: 24px;
  color: #1e1e20;
  padding-top: 10px;
  padding-bottom: 10px;
}
.layoutBox-content .truncate .moreless {
  font-size: 16px;
  text-decoration: none;
  color: #0273d4;
}
.layoutBox-content .truncate .moreless.less {
  padding-left: 8px;
}
.layoutBox-attachments {
  padding-top: 12px;
}
.layoutBox-attachments .title {
  color: #74736d;
}
.layoutBox-attachments .title span {
  font-size: 14px;
  font-weight: 600;
  margin-left: 2px;
  margin-right: 12px;
}
.layoutBox-attachments .thumbnail-bar {
  padding-top: 6px;
}
.layoutBox-attachments .thumbnail-bar .thumbnail {
  width: 64px;
  height: 48px;
  border-radius: 2px;
  border: 1px solid #e7e6e3;
  overflow: hidden;
  display: inline-block;
  margin: 0 4px;
}
.layoutBox-attachments .thumbnail-bar .thumbnail:first-child {
  margin-left: 0;
}
.layoutBox-attachments .thumbnail-bar .thumbnail:last-child {
  margin-right: 0;
}
.layoutBox-attachments .thumbnail-bar .thumbnail:hover {
  cursor: pointer;
}
.layoutBox-attachments .thumbnail-bar .thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.layoutBox-stats {
  padding-top: 10px;
  padding-bottom: 16px;
  border-bottom: 1px solid #e7e9ea;
}
.layoutBox-stats ul {
  font-size: 14px;
}
.layoutBox-stats ul li {
  display: inline-block;
  vertical-align: middle;
}
.layoutBox-stats ul li + li:before {
  content: "\f111";
  font-family: FontAwesome;
  font-size: 4px;
  display: inline-block;
  vertical-align: middle;
  color: #777777;
  margin-left: 4px;
  margin-right: 8px;
}
.layoutBox-stats ul li a {
  color: #777777;
  text-decoration: none;
}
.layoutBox-actions {
  padding: 16px 0;
}
.layoutBox-actions ul li {
  display: inline-block;
}
.layoutBox-actions ul li + li {
  margin-left: 12px;
}
.layoutBox-actions ul li a {
  color: #74736d;
  font-weight: 600;
  text-decoration: none;
}
.layoutBox-actions ul li a i {
  margin-right: 8px;
}
.layoutBox-comments {
  box-sizing: border-box;
  padding: 14px 20px;
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: -20px;
  background-color: #efeeec;
}
.layoutBox-comments .user-image-self {
  width: 32px;
  height: 32px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 100%;
  background-image: url(https://www.bmwgroup.com/content/dam/bmw-group-websites/bmwgroup_com/company/unternehmensprofil/BMW_Group_Stefan_Quandt.jpg.grp-transform/large/BMW_Group_Stefan_Quandt.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.layoutBox-comments .comment-field {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  padding: 8px 12px;
  border-radius: 22px;
  background-color: #ffffff;
  border: 1px solid #d1d1d0;
  width: calc(100% - 43px);
  outline: none;
  margin-left: 6px;
}
.layoutBox-comments .comment-field::placeholder {
  font-family: "Open Sans";
  font-size: 14px;
  color: #9a9791;
}

.layoutBox.event .layoutBox-content .all-details-link {
  font-size: 16px;
  text-decoration: none;
  color: #0273d4;
}
.layoutBox.event .layoutBox-content .event-board {
  border: 1px solid #e7e9ea;
  border-radius: 3px;
  box-sizing: border-box;
  padding: 16px 20px;
  margin-top: 20px;
  margin-bottom: 18px;
}
.layoutBox.event .layoutBox-content .event-board .side-event {
  padding: 0;
}
@media screen and (max-width: 417px), (min-width: 761px) and (max-width: 777px), (min-width: 1061px) and (max-width: 1150px) {
  .layoutBox.event .layoutBox-content .event-board .side-event .left-col {
    margin-bottom: 10px;
  }
  .layoutBox.event .layoutBox-content .event-board .side-event .left-col,
  .layoutBox.event .layoutBox-content .event-board .side-event .right-col {
    display: block;
    padding: 0;
    width: 100%;
  }
  .layoutBox.event .layoutBox-content .event-board .side-event .left-col .buttons,
  .layoutBox.event .layoutBox-content .event-board .side-event .right-col .buttons {
    display: block;
    width: 100%;
    text-align: center;
  }
}
.layoutBox.event .layoutBox-content .event-board .left-col {
  width: 34px;
  padding-right: 20px;
}
.layoutBox.event .layoutBox-content .event-board .right-col {
  position: relative;
}
.layoutBox.event .layoutBox-content .event-board .buttons {
  position: absolute;
  right: 0;
  bottom: 0;
}
@media screen and (max-width: 620px), (min-width: 761px) and (max-width: 992px), (min-width: 1061px) and (max-width: 1280px) {
  .layoutBox.event .layoutBox-content .event-board .buttons {
    position: relative;
    margin-top: 16px;
  }
}
.layoutBox.event .layoutBox-content .event-board .buttons > * {
  background-color: #ffffff;
  border: 1.2px solid transparent;
  box-sizing: border-box;
  padding: 7px 10px;
  outline: none;
  border-radius: 3px;
  font-size: 16px;
  text-align: center;
  transition: all 0.2s ease;
}
@media screen and (max-width: 363px) {
  .layoutBox.event .layoutBox-content .event-board .buttons > * {
    display: block;
    width: 100%;
  }
  .layoutBox.event .layoutBox-content .event-board .buttons > *.decline {
    margin-left: 0 !important;
    margin-top: 8px;
  }
}
.layoutBox.event .layoutBox-content .event-board .buttons > * > i {
  font-size: 18px;
  padding-right: 2px;
}
.layoutBox.event .layoutBox-content .event-board .buttons > *:hover {
  cursor: pointer;
}
.layoutBox.event .layoutBox-content .event-board .buttons > *.register {
  color: #009900;
  border-color: #009900;
}
.layoutBox.event .layoutBox-content .event-board .buttons > *.register:hover {
  border-color: #006600;
  color: #006600;
}
.layoutBox.event .layoutBox-content .event-board .buttons > *.register + .decline {
  margin-left: 8px;
}
.layoutBox.event .layoutBox-content .event-board .buttons > *.decline {
  color: #d9534f;
  border-color: #d9534f;
}
.layoutBox.event .layoutBox-content .event-board .buttons > *.decline:hover {
  border-color: #c9302c;
  color: #c9302c;
}

.side-event {
  display: table;
  width: 100%;
  padding: 20px 0;
}
.side-event + .side-event {
  border-top: 1px solid #eeeeee;
}
.side-event > div {
  display: table-cell;
  vertical-align: top;
}
.side-event > div.left-col {
  text-align: center;
  padding-right: 20px;
}
.side-event .day {
  font-size: 29px;
  display: block;
  color: #212121;
  margin-top: -5px;
}
.side-event .month {
  display: block;
  font-size: 11px;
  color: #fa3e3e;
  text-transform: uppercase;
  margin-top: -4px;
}
.side-event i {
  width: 24px;
  text-align: center;
  padding-right: 6px;
}
.side-event .title {
  color: #212121;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 1px;
}
.side-event .when {
  color: #757575;
  font-size: 14px;
  margin-bottom: 5px;
}
.side-event .location {
  margin-bottom: 4px;
}
.side-event .location, .side-event .time {
  display: table;
  width: 100%;
  color: #404040;
  font-size: 14px;
}
.side-event .location > *, .side-event .time > * {
  display: table-cell;
  vertical-align: top;
}
.side-event .location > i, .side-event .time > i {
  padding-top: 4px;
}

.mobile-overlay {
  display: block;
  background-color: #000;
  opacity: .9;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 2;
  display: none;
}
@media screen and (min-width: 992px) {
  .mobile-overlay {
    display: none !important;
  }
}

/* The side navigation menu */
.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 3;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  left: 0;
  background-color: #37474f;
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 56px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
}
@media screen and (min-width: 992px) {
  .sidenav {
    display: none;
  }
}
.sidenav a {
  width: 100%;
  padding: 16px 24px;
  text-decoration: none;
  font-size: 17px;
  color: #bdbdbd;
  display: table;
  box-sizing: border-box;
  transition: 0.3s;
}
.sidenav a.closebtn {
  width: auto;
  padding: 0;
  display: block;
}
.sidenav a:hover {
  color: #ffffff;
  background-color: #2d3940;
}
.sidenav a > * {
  display: table-cell;
}
.sidenav a i {
  font-size: 18px;
  width: 20px;
  text-align: center;
}
.sidenav a span {
  padding: 0 20px;
  width: 100%;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 18px;
  font-size: 36px;
}
.sidenav .closebtn:hover {
  background-color: transparent;
}

@media screen and (min-width: 1150px) and (max-width: 1255px) {
  .sidebar .side-event {
    display: block;
  }
  .sidebar .side-event > * {
    display: block;
    padding-right: 0;
  }
  .sidebar .side-event > *.left-col {
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 1150px) {
  .content {
    grid-template-columns: 50% 50%;
  }
}
@media screen and (max-width: 480px), (min-width: 761px) and (max-width: 920px), (min-width: 1061px) and (max-width: 1150px) {
  .layoutBox-infobar > div {
    display: block;
    width: 100%;
  }
  .layoutBox-infobar > div.col-right > .timestamp {
    text-align: left;
    padding-left: 30px;
  }
}
@media screen and (max-width: 646px), (min-width: 993px) and (max-width: 1006px) {
  .filterbar > .two-cols > div {
    display: block;
    width: 100%;
  }
  .filterbar > .two-cols > div.right-col {
    margin-top: 24px;
  }
  .filterbar > .two-cols > div.right-col > .filter {
    text-align: left;
  }
}
@media screen and (min-width: 992px) and (max-width: 1060px), (max-width: 760px) {
  .content {
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "banner banner"  "filterbar filterbar"  "sidebar sidebar" "main main";
  }
  .content > .sidebar {
    margin-left: 0;
    margin-bottom: 24px;
  }
}
@media only screen and (max-width: 992px) {
  .wrapper {
    grid-template-areas: "header header header" "content content content";
  }
  .wrapper .header .container {
    grid-template-columns: 58px 1fr minmax(auto, 185px);
  }
  .wrapper .header .container .logo > a {
    display: none;
  }
  .wrapper .header .container .logo .responsive {
    display: block;
  }
  .wrapper .header .container .logo .responsive .notification-button {
    color: #757575;
    background-color: #fafafa;
    font-size: 16px;
    padding-left: 20px;
  }
  .wrapper .header .container .logo .responsive .notification-button i {
    padding-right: 8px;
    font-size: 20px;
    vertical-align: middle;
  }
  .wrapper .header .container .search {
    padding: 0 20px;
  }
  .wrapper .header .container .search .search-container {
    margin: auto;
    margin-top: 10px;
  }
  .wrapper .header .container .user {
    padding-right: 20px;
  }
  .wrapper .content {
    padding-left: 20px;
    padding-right: 20px;
  }
  .wrapper .content > .banner {
    margin-top: -26px;
    margin-left: -20px;
    margin-right: -20px;
  }
  .wrapper .content > .banner > .banner-image {
    border-radius: 0;
  }
  .wrapper .content > .filterbar {
    padding-top: 24px;
  }
  .wrapper .sidemenu {
    display: none;
  }
}
@media only screen and (max-width: 640px) {
  .header .container {
    grid-template-columns: 58px auto !important;
    grid-template-areas: "logo user";
  }
  .header .container .search {
    display: none;
  }
  .header .container .user .notification-button {
    background-color: transparent;
  }
  .header .container .user .user-popdown-area {
    padding-left: 5px;
  }
}
@media only screen and (max-width: 336px) {
  .filterbar > .two-cols .filter > .filter-button {
    max-width: 47%;
  }
  .filterbar > .two-cols .filter > .filter-button > i {
    margin-left: 10px;
  }

  .layoutBox-actions ul li:last-child {
    margin-left: 0;
    margin-top: 10px;
  }
}
